* {
  margin: 0;
  padding: 0;
}

.container {
  background: #f1f1f1;
}

.skills-title {
  display: none;
  font-family: Poppins,sans-serif;
  font-size: 90px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin: 50px auto;
  text-align: center;
  padding: 25px;
}

.is-cards {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 25px;
  filter: brightness(1) contrast(1);
  width: 150px;
  height: auto;
}

#skills {
  background: #FBF6FF;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container {
  background: #ffffff;
  margin: 5px 10px;
  padding: 20px 75px;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
  box-sizing: border-box;
  border: 2px solid #f1f1f1;
}

.iscards-container {
  padding: 20px;
}

h4 {
  font-family: Poppins,sans-serif;
  font-size: medium;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px auto;
  margin: 5px auto;
  color: #000;
  text-align: center;
}

/* Quando a tela do dispositivo for menor a 578px, as imagens dentro das cards ficarão menores para evitar a quebra do layout. Talvez seja preciso fazer mais algumas modificações. */
@media (max-width: 578px) {
  .is-cards {
  display: inline-block;
  margin: 30px auto;
  padding: 10px 25px;
  filter: brightness(1) contrast(1);
  width: 75px;
  height: auto;
  }
  
  .skills-title {
    font-size: 50px;
  }
}